@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: "Lovelo";
  src: url("/content/Lovelo-Black.ttf");
}

:root {
  --brandfeels: #8c52ff;
  --secondary: #ffd04c;
  --musicaNoCoracao: #e06990;
  --rockInRio: #5da5f1;
}

body, html {
  width: 100%;
  height: 100%;
  font-family: Lovelo, 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  scrollbar-width: 0;
  text-align: center;
  background-color: black;
  color: white;
}

::-webkit-scrollbar {
  display: none;
}

* {
  font-family: Lovelo, 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  width: 100%;
  padding: 20px;
  padding-block: 5rem;

  border-radius: 5px;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
}

.arrow {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 15px solid grey;
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%) rotate(180deg);
  z-index: 10;
}

.pizza-slice {
  position: absolute;
  width: 50%;
  height: 100%;
  background-color: #ddd;
  clip-path: polygon(100% 50%, 0% 0%, 0% 37%);
  transform-origin: 100% 50%;
  transform: rotate(var(--rotate));
  z-index: 1;
}

.pizza-slice:nth-child(2n) {
  background-color: var(--primary);
}

.pizza-slice.premio {
  background-color: var(--secondary) !important;
}

.pizza-slice span {
  position: absolute;
  left: 40%; /* adjust as needed */
  top: 33%;
  transform: translate(-50%, -50%) rotate(25deg);
  color: #000;
  font-weight: bold;
  font-size: 0.7rem;
}

#modal-text {
  text-wrap: balance;
}
